
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


:root {
  --color-brand-1: #296EB4;
  --color-brand-2: #04A777;
  --color-brand-3: #EAD94C;
  --color-brand-4: #FF934F;
  --color-brand-5: #CC2936;
  --color-brand-6: #1B1725;
  --color-white: #ffffff;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: var(--color-brand-6);
	font-size: 16px;

}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: var(--color-brand-1);
	font-size: 50px;
	text-align: center;
}
h2 {
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: var(--color-brand-5);
}
h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: var(--color-brand-4);
}
p {
	text-align: justify;
}
a {
	color: var(--color-brand-2);
	transition: color 0.8s ease;
}
a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: var(--color-brand-3);
}
img {
    width: 100%;
    height: auto;
}

header {
	z-index: 10;
	position: absolute;
}
section {
	//margin-top: 200px;
	z-index: 5;
}
footer {}

footer .footer-container {
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 60px;
	box-shadow: 0px 3px 20px -10px var(--color-brand-6);
}
footer .newsletter-container {
	display: flex;
	justify-content: center;
}
footer .newsletter-container .newsletter-form {
	display: inline-flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer .newsletter-container .newsletter-form .form-input.newsletters {
	margin-bottom: 0;
	min-width: 230px;
	border: 1px solid var(--color-brand-1);
	margin-right: -1px;
}
footer .newsletter-container .newsletter-form button {
	/*color: var(--color-brand-6);
	border: 1px solid var(--color-brand-1);
	padding: 5px 40px;*/
	height: 40px;
}

/*---------------- Hero Image module ----------------*/
.hero-image {
	height: 90vh;
	overflow: hidden;
	/*float: left;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	position: relative;
	box-shadow: 1px 1px 10px rgb(0, 0, 0, 20%);
}

.carousel.carousel-fade {
	height: 90vh;
}
.carousel.carousel-fade .carousel-inner {
	height: 100%;
}
.carousel.carousel-fade .carousel-inner .carousel-item {
	height: 100%;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero-image-title {
	position: absolute;
	height: 20%;
	width: 50%;
	top: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	background-color: rgba(241, 228, 243, 0.6);
}
.hero-image-title h2 {
	text-align: center;
	animation: fade-in-from-bottom-animation 0.8s cubic-bezier(0.25, 0.450, 0.6, 0.79) both;
}
.carousel-control-next, 
.carousel-control-prev {
	padding: 7%;
}
section .image-boxes.gallery,
section .image-boxes.map-section {
	margin-top: 170px;
}
section .gallery-container {
	width: 100%;
}
section .gallery-container .gallery-row {
	margin: 0;
}
section .gallery-container .gallery-row .gallery-row-single-image {
	padding: 10px;
}

.section-title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.section-title h1 {
	animation: fade-in-from-bottom-animation 0.8s cubic-bezier(0.25, 0.450, 0.6, 0.79) both;
}
.image-boxes-2-col {
	width: 100%;
}
.image-boxes-2-col .image-boxes-2-row {
	margin-left: 0;
	margin-right: 0;
}

.image-box-image {
	float: left;
	height: 500px;
	padding: 5px;
}
.image-box-content {
	float: left;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.image-box-content .title,
.image-box-content .subtitle,
.image-box-content .description {
	text-align: center;
}

section .map-container {
	width: 100%;
	height: 50vh;
	margin-left: 20px;
	margin-right: 20px;
}
section .map-container .map-container-box {
	width: 100%;
	height: 100%;
	margin: 0;
}
section .search-container {
	width: 100%;
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
}
section .search-container .search-container-box {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--color-brand-3);
}

section .container-content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
}
section .container-content .container-content-box {

}
section .container-content .container-content-box .title-content {
	text-align: center;
}
.btn.btn-primary {
	background: transparent;
	padding: 10px 30px;
	border: 1px solid var(--color-brand-5);
	border-radius: 0;
}
.btn.btn-primary:hover {
	background: var(--color-brand-5);
}
.btn.btn-primary a {
	color: var(--color-brand-5);
}
.btn.btn-primary:hover a {
	color: var(--color-white);
}
.btn.btn-secondary {
	color: var(--color-brand-6);
	background: transparent;
	padding: 5px 40px;
	border: 1px solid var(--color-brand-1);
	border-radius: 0;
}
.btn.btn-secondary:hover {
	background: var(--color-brand-1);
	color: var(--color-white);
}
/* START -------------- Form module --------------*/
.contact-form-section {
	justify-content: center;
	width: 50%;
	margin-left: 25%;
}
form.contact-form-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
form.contact-form-form button {
	color: var(--color-brand-6);
	width: fit-content;
	margin: 10px 20px;
}
form .form-input {
	width: 100%;
	height: 40px;
	border-right: 0;
	margin-bottom: 10px;
	border: 1px solid var(--color-brand-6);
	outline: none;
}
form .form-input.textarea {
	height: auto;
}

/* START -------------- Navigation module --------------*/

.header-row {
	height: 150px;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 20px -10px var(--color-brand-6);
}
.header-logo {
	position: absolute;
	height: 100px;
	left: calc(50% - 90px);
	top: 0;
}
.header-logo-link {
	padding: 40px;
}
.header-logo-link img {
	height: 100%;
	width: auto;
}

/* END -------------- Navigation module --------------*/

.header-bar-1 {
	position: relative;
	top: 45px;
	width: 80%;
	left: 10%;
	text-align: right;
}
.menu-header-container {
	display: inline-block;
}

ul.menu-header {
	display: inline-block;
	list-style: none;
	margin-bottom: 0;
	padding-inline-start: 0;
}
ul.menu-header > li {
	display: inline-block;
	position: relative;
	line-height: initial;
}
ul.menu-header > li.menu-item.active a {
	color: var(--color-brand-5);
	font-weight: 600;
}
ul.menu-header > li a {
	padding: 20px 15px;
	color: var(--color-brand-6);
	transition: all 0.8s ease;
}
ul.menu-header > li:hover a {
	background-color: var(--color-brand-5);
	color: var(--color-white)!important;
	font-weight: 400!important;
}

.header-tags.left {
	display: none;
	position: fixed;
	top: 25px;
	left: 0;
	width: 100px;
	height: 100px;
	z-index: 5;
}

.header-tags .mobile-menu-trigger {
	display: inline-block;
	height: 100px;
	width: 100px;
}
.header-tags .mobile-menu-trigger i {
	font-size: 50px;
}
.header-tags .mobile-menu-trigger.mobile-menu-visible .fa-icon-mobile-menu-hidden {
	display: none;
}
.header-tags .mobile-menu-trigger.mobile-menu-visible {
	transform: translateX(250px);
	transition: transform 0.8s ease;
}
.header-tags .mobile-menu-trigger.mobile-menu-hidden {
	transform: translateX(0px);
	transition: transform 0.8s ease;
}
.header-tags .mobile-menu-trigger.mobile-menu-visible .fa-icon-mobile-menu-visible {
	display: inline-block;
	color: var(--color-brand-1);
	padding: 25px 30px;
}
.header-tags .mobile-menu-trigger.mobile-menu-hidden .fa-icon-mobile-menu-visible {
	display: none;
}
.header-tags .mobile-menu-trigger.mobile-menu-hidden .fa-icon-mobile-menu-hidden {
	display: inline-block;
	color: var(--color-brand-1);
	padding: 25px 30px;
}

.mobile-menu {
	display: none;
	position: fixed;
	width: 250px;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 6;
	background-color: rgba(255, 255, 255, 0.95);
	transition: transform 0.8s ease;
	box-shadow: 0px 3px 20px -10px var(--color-brand-6);
}

.mobile-menu.hidden {
	transform: translateX(-100%);
}
.mobile-menu.visible {
	transform: translateX(0%);
}
.mobile-menu .navbar {
	margin-top: 20px;
	padding-top: 30px;
}

.mobile-menu .navbar .menu-header-container ul li {
	width: 100%;
	line-height: 4;
}
.mobile-menu .navbar .menu-header-container ul li a {
	width: 100%;

}

/* START ---------------- Social links module ----------------*/
.social-links-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.social-links-container ul {
	margin: 0;
	padding: 0;
}
.social-links-container ul li {
	margin-left: 20px;
	margin-right: 20px!important;
	margin-bottom: 20px;
}
.social-links-container ul li a {
	color: var(--color-brand-1);
}
.social-links-container ul li a:hover {
	color: var(--color-brand-2);
}
.social-links-container ul li a:hover i {
	transform: scale(1.2);
}
.social-links-container ul li a i {
    font-size: 40px;
    transform: scale(1);
	transition: all 0.8s ease;
}


/* START -------------- Animation --------------*/
@keyframes fade-in-from-bottom-animation {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 1199px) {

	.header-bar-1 {
		display: none;
	}
	.header-logo {
		top: 20px;
	}

	.header-tags.left {
		display: inline-block;
	}

	.mobile-menu {
		display: block;
	}
}

@media (max-width: 991px) {
	/*.image-box-image.col-lg-8.col-sm-12*/
	.hero-image-title {
		width: 90%;
	}

	.image-boxes-2-row.even .image-box-content {
		order: 2;
	}
	.image-boxes-2-row.even .image-box-image {
		order: 1;
	}
	.contact-form-section {
		width: 90%;
		margin-left: 5%;
	}
	footer .newsletter-container .newsletter-form {
		display: flex;
		flex-direction: column;
		width: 70%;
	}
	footer .newsletter-container .newsletter-form .form-input.newsletters {
		min-width: unset;
		margin-bottom: 10px;
	}
}

